body{
    background-color: rgb(207, 234, 225);
    color: rgb(16, 16, 16);
}
header{
    display: flex;
    background-color: rgb(198, 220, 231);
    justify-content: space-around;
    
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    /* margin-left: 450px; */
    font-size: 20px;
}
h1{
    margin-left: 100px;
}
.maral1{
    margin-right: 30px;
}
.maral2{
    margin-right: 30px;
}
.maral3{
    margin-right: 30px;
}
.maral4{
    margin-right: 30px;
}
.maral5{
    margin-right: 30px;
}
.maral6{
    margin-right: 30px;
}
.slider{
    background-image: url(/maralym/акмарал.png);
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    padding-top: 150px;
    padding-left: 200px;
}
.slider p{
    padding-left: 200px;
}
.slider button{
    margin-left: 200px;
}
h3{
    margin-left: 430px;
}

.main-part{
    display: flex;
    justify-content: space-around;
}
.main-part{
    border-radius: 10px 5%;
}
.main1 p{
text-align: center;
}
.main2 p{
text-align: center;
}
.main3 p{
    text-align: center;
}
.main4 p{
    text-align: center;
}
.main55 p{
 text-align: center;
}
.main1 button{
 margin-left: 150px;
}
.main2 button{
 margin-left: 150px;
}
.main3 button{
 margin-left: 150px;
}
.main4 button{
 margin-left: 150px;
}
.main1{
    border: 3px solid black;
    background-color: rgb(60, 60, 96);
    color: aliceblue;
}
.main2{
    border: 3px solid black;
    background-color: rgb(60, 60, 96);
    color: aliceblue;
}
.main3{
    border: 3px solid black;
    background-color: rgb(60, 60, 96);
    color: aliceblue;
}
.main4{
    border: 3px solid black;
    background-color: rgb(60, 60, 96);
    color: aliceblue;
}
.main1 i{
   padding-left: 115px;
   color: aliceblue;
}
.main2 i{
   padding-left: 115px;
   color: aliceblue;
}
.main3 i{
   padding-left: 115px;
   color: aliceblue;
}
.main4 i{
   padding-left: 115px;
   color: aliceblue;
}
.main1:hover{
    background-color: rgb(9, 208, 135);
    color: brown;
}
i:hover{
    color: blue;
}
.main2:hover{
    background-color: rgb(9, 208, 135);
    color: brown;
}
.main3:hover{
    background-color: rgb(9, 208, 135);
    color: brown;
}
.main4:hover{
    background-color: rgb(9, 208, 135);
    color: brown;
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 150px;
  padding-right: 650px;
}
a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}
.wrapper:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

a:hover{
  color: #fff;
}

a:hover:after{
width:100%;
}
.main79 p {
  text-align: center;
}
.choose i{
   color: black;
   font-size: 15px;
   border: 2px solid black;
   margin-left: 30px;
}
/* .goods {
    margin-left: 100px;
} */

.photo1 img{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}
.photo2 img{
    width: 200px;
    height: 200px;
     border: 3px solid black;
}
.photo3 img{
    width: 200px;
    height: 200px;
     border: 3px solid black;
}
.photo4 img{
    width: 200px;
    height: 200px;
     border: 3px solid black;
}
.photos {
    display: flex;
justify-content: space-around;
margin-top: 30px;
}
.goods{
    display: flex;
    justify-content: space-around;
}
footer{
     background-color: rgb(198, 220, 231);
    height: 250px;
    margin-top: 20px;
}
footer{
    /* display: flex; */
    gap: 50px;
    background-color: rgb(190, 197, 203);
    height: 200px;
    align-items: center;
    /* padding-left: 200px; */
    margin-top: 50px;
    padding-top: 55px;
}

 .icons07 a {
    font-size: 28px;
    color: #043130;
    text-decoration: none;
}

.mrrll07 p {
    color: rgb(6, 41, 41);
}
.mrrrlll07 p {
    color: rgb(5, 41, 41);
}
.mrrrrllll07 p {
    color: rgb(5, 41, 41);
}


.icons07 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.mrrll07 h5{
   text-align: center;
    color: black;
}
.mrrll07 p{
   text-align: center;
    color: black;
}



